.login-bg {
  /* background-image: url('../assets/loginBg.jpg'); */
  /* background-position: center; */
  /* background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
  /* width: 100vw; */
  display: grid;
  align-items: center;
  padding: 10%;
  background-color: var(--background);
  /* justify-content: center; */
}

h1 {
  font-size: 42px;
}

.login-form {
  padding: 10%;
  box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
  border-radius: 6px;
  background-color: #ffff;
}

/* .login-attribute {
  font-size: 7px;
  position: absolute;
  bottom: 0;
  color: var(--attribute);
} */

form {
  display: flex;
  flex-direction: column;
  background-color: white;
}
input,
button,
label {
  margin: 5px;
}

input[type='text'],
input[type='password'],
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type='text']:focus,
input[type='password']:focus {
  border: 1px solid #dec;
  outline: 0;
}

.login-signup-btn,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.login-signup-btn:hover,
.login-signup-btn:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.login-signup-btn,
input[type='submit'].login-signup-btn,
input[type='reset'].login-signup-btn,
input[type='button'].login-signup-btn {
  color: black;
  background-color: #d5e5c6;
  border-color: #d5e5c6;
}
.login-signup-btn:hover {
  color: #d5e5c6;
  background-color: black;
  border-color: black;
}

.login-signup-btn:disabled {
  color: #888;
  cursor: not-allowed;
  background-color: rgba(213, 229, 198, 0.8);
}
