nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background);
  height: 60px;
}

.styled-link {
  text-decoration: none;

  color: var(--links);
  margin: 0 0.5rem;
  font-size: 10px;
  position: relative;
  /* list-style: none; */
}

.styled-link-active {
  border-bottom: 2px solid var(--focus);
  text-decoration: none;

  color: var(--links);
  margin: 0 0.5rem;
  font-size: 10px;
  position: relative;
}

.navbar-text {
  color: var(--attribute);
  /* font-size: 1.3rem; */
  font-size: 10px;
  /* margin: 0; */
  align-self: center;
  margin-left: 25px;
  margin-right: 10px;
}

.current {
  border-bottom: 2px solid #dec;
  /* color: var(--links) !important; */
  font-weight: bold;
}

span {
  color: var(--attribute);
  font-weight: bold;
}

.nav-button {
  all: unset;
  cursor: pointer;
  color: var(--links);
  /* font-size: 1.3rem; */
  font-size: 10px;
  margin-right: 5%;
}

.nav-button:focus {
  outline: var(--focus) 5px auto;
}
