@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@300;700&family=Poppins&family=Spectral:wght@300;400&display=swap');

:root {
  --attribute: #333;
  --orange: #ffad60;
  --links: #96ceb4;
  --focus: #d9534f;
  --background: #fdf4dc;
  --yellow: #ffeead;
  --white: #ffff;
  --blue: #96ceb4;

  /* --attribute: #7c807d;
  --links: #d5e5c6;
  --focus: #f79d8f;
  --background: #f5f9fa; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf4dc;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Poppins', sans-serif;
}

/* code {
  font-family: 'Amatic SC', cursive, 'Roboto', sans-serif;
} */

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

h1,
h2 {
  font-family: 'Amatic SC', cursive;
  margin: 1%;
}

p,
h3,
label {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* DESIGN FÖR BASESTORY, CREATE STORY */
.base-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
  border: 1px solid greenyellow;
}

.base-container h3 {
  margin-left: 2%;
}

.base-story-green,
.base-story-orange,
.base-story-red,
.base-story-blue,
.base-story-yellow {
  padding: 3% 9% 3%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px rgb(66 66 66 / 16%);
}

.base-story-green {
  background-color: var(--links);
}
.base-story-orange {
  background-color: var(--orange);
}
.base-story-red {
  background-color: var(--focus);
}
.base-story-yellow {
  background-color: var(--background);
}
.base-story-blue {
  background-color: var(--blue);
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);
}

img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);
}

.btn-container {
  border: 1px solid blue;
}

.img-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-btn {
  /* width: 50px;
  height: 50px; */
  all: unset;
  cursor: pointer;
}

.story-btn {
  margin: 5px;
}

.story-btn,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--attribute);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.story-btn:hover,
.story-btn:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: var(--attribute);
  border-color: #888;
  outline: 0;
}
.story-btn,
input[type='submit'].story-btn,
input[type='reset'].story-btn,
input[type='button'].story-btn {
  color: var(--attribute);
  /* background-color: #d5e5c6; */
  border-color: #d5e5c6;
}
.story-btn:hover {
  color: var(--focus);
  background-color: #d5e5c6;
  border-color: #d5e5c6;
}
